@import url(/assets/style/global.css);

.menu-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: var(--secondary-color);
    font-family: var(--main-font);
}
.menu-items{
    display: flex;
    align-items: center;
    margin: auto;
}
.menu-items ul li{
    list-style: none;
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.menu-items a{
    color: var(--text-color);
    transition: 0.5s;
}
.menu-items a:hover{
    color: var(--highlight-color);
    transition: 1s;
    font-weight: 700;
}